* {
    box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
/* Class */
.App {
  text-align: center;
}
.ptther {
  display: flex;
  margin-left:10px;

}
.part {
  display:block;
  margin-left:10px;
}
.tomove { 
 margin-left:10px;
}
.navBar {
/*  width: 100%;*/
  background-color: rgb(163, 149, 149);
  color: rgb(15, 15, 15);
  padding: 10px;
  font-weight: bold;
}


.MovList{
    margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.5em; 
}

.MovItem{
  /* padding: 0 20px; */
  display: inline;
  text-align: center;
  margin-left: 50px;
  padding-left: 50px;
  /* align-content: center; */
}
.image{
  padding-left: 50px;
}

.container { 
  height: 60px;
  position: relative;
  /* border: 3px solid green;  */
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0 5px;
}




li {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px 15px 10px 25px;
    border: 1px solid #CCC;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 3px;
}

ul {
  margin: 0 auto;
  padding: 0;
  max-height: 390px;
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 5px 0 5px;
  border-left: none;
  border-right: none;
}

.red {
  color:red;
}
.yellow {
  color:orange;
}
.green {
  color: green;
}
#query {
    width: 100%;
    box-sizing: border-box;
    font-size: 19px;
    padding: 5px;
    font-family: calibri light;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
}

#notebooks {
    z-index: 1;
    position: absolute;
    width: 90%;
    margin: 30px 0 30px 5%;
    background: whitesmoke;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: inset 1px 1px 0 white;
    max-height: 450px;
}

.warningPageContainer {
  z-index: 1;
    position: fixed;
    width: 90%;
    margin: 30px 0 30px 5%;
    background: whitesmoke;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: inset 1px 1px 0 white;
    overflow-y: auto;
    height: 60%;
}
::-webkit-scrollbar {
  width: 100px;
}
::-webkit-scrollbar-button {
  color: blue;
}

.warningPageContainer-Bottom {
  bottom: 0;
  height: 15%;

}

#notebooks span {
    
    padding: 10px;
    
}

#BoxStyle {
  position: relative;
  /* top: 300px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

ul {
    margin: 0 auto;
    padding: 0;
    max-height: 390px;
    overflow-y: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 5px 0 5px;
    border-left: none;
    border-right: none;
}

.warningList {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
}

.warningListItem {
  width: 200px;
  margin: 10px;
}
