/* * {
    box-sizing: border-box;
} */
body {
  margin: 0;
  color: aliceblue;
}
a {
  text-decoration: none;
  color: black;
}
/* Class */
.App {
  text-align: center;
}

.deletebtn {
  background-color: #f22336;
}

.submitbtn {
  background-color: #23f261;
}

.ptther {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}
.ptther button {
  margin-top: 10px;
}
.ptther * {
  background-color: lavender;
  margin: 2px;
}
.ptther textarea {
  width: 404px;
  resize: none;
}
.ptther select {
  width: 200px;
}
.part {
  display: block;
  margin-left: 10px;
}
.tomove {
  margin-left: auto;
  margin-right: auto;
  /* margin-left:10px; */
}
.navBar {
  /*  width: 100%;*/
  /* background-color: rgb(163, 149, 149); */
  padding: 10px;
  font-weight: bold;
}

.MovList {
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.5em;
}

.MovItem {
  /* padding: 0 20px; */
  display: inline;
  text-align: center;
  margin-left: 50px;
  padding-left: 50px;
  /* align-content: center; */
}
.image {
  padding-left: 50px;
}

.container {
  height: 60px;
  position: relative;
  /* border: 3px solid green;  */
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0 5px;
}

#notebooks li {
  list-style: none;
  background-color: #002b36;
  padding: 10px 15px 10px 25px;
  border: 1px solid #ccc;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 3px;
}
#search-bar li {
  
    list-style: none;
    background-color: #002b36;
    padding: 10px 15px 10px 25px;
    border: 1px solid #ccc;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 3px;
 
}
.adminList {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
}
.adminSubmit {
  margin-right: 20px;
}
li {
  margin: 10px 0 10px;
}

ul {
  margin: 0 auto;
  padding: 0;
  max-height: 390px;
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 5px 0 5px;
  border-left: none;
  border-right: none;
}

.comments ul {
  overflow-y: none;
}
.red {
  color: red;
}
.yellow {
  color: orange;
}
.green {
  color: green;
}
#query {
  width: 100%;
  box-sizing: border-box;
  font-size: 19px;
  padding: 5px;
  font-family: calibri light;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
}

#notebooks {
  z-index: 1;
  position: absolute;
  width: 90%;
  margin: 30px 0 30px 5%;
  background: slategray;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: inset 1px 1px 0 white;
  max-height: 450px;
}

#search-bar {
  z-index: 1;
  position: absolute;
  width: 90%;
  margin: 30px 0 30px 5%;
  background: slategray;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: inset 1px 1px 0 white;
  max-height: 450px;
}
.pageContainer {
  z-index: 1;
  position: fixed;
  width: 90%;
  margin: 30px 0 30px 5%;
  background: slategray;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: inset 1px 1px 0 white;
  overflow-y: auto;
}
.fullPageContainer {
  height: 80%;
}
.threeQuartersPageContainer {
  height: 65%;
  display: flex;
  flex-direction: column;
  /* align-content: end; */
  /* justify-content: space-around; */
}
.halfContainer {
  height: 40%;
}

.warningPageContainer-Bottom {
  bottom: 0;
}

#notebooks span {
  padding: 10px;
}
#search-bar span {
  padding: 10px;
}

#BoxStyle {
  position: relative;
  /* top: 300px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
#BoxStyle h4 {
  font-size: 1rem;
  margin-bottom: 30px;
}

ul {
  margin: 0 auto;
  padding: 0;
  max-height: 390px;
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 5px 0 5px;
  border-left: none;
  border-right: none;
}

.warningList {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
}

.warningListItem {
  width: 200px;
  margin: 10px;
}
@media only screen and (max-width: 500px) {
  .MuiBox-root-2 {
    font-size: x-small;
  }
}
@media only screen and (max-width: 9000px) {
  .movieImage {
    position: absolute;
    left: -1000px;
    top: -1000px;
  }
}
.nav-home-icon {
  width: 40px;
}

.MuiBox-root-2 {
  display: flex;
  justify-content: space-between;
}

.nav-home-title {
  visibility: hidden;
}
.nav-title {
  position: absolute;
  top: 75px;
  left: 12%;
  font-size: 6vw;
}
.nav-title-sub {
  visibility: hidden;
}

.nav-user-actions {
  display: flex;
 
  justify-content: flex-end;
  width: 60%;
  font-size: 20px;
  align-items: flex-start;
}
.nav-sign-in {
  border: aliceblue solid;
    padding: 2px 4px;
    border-radius: 8px;
    margin: 0 5px;
}

.nav-sign-up {
  border: aliceblue solid;
    padding: 2px 4px;
    border-radius: 8px;
}
@media only screen and (min-width: 600px) {
  #search-bar {
    width: 60%;
    left: 15%;
  }
  .nav-home-div {
    cursor: pointer;
    width: 15%;
    align-items: center;
    display: flex;
  }
  .nav-home-icon {
    cursor: pointer;
    width: 3vw;
    height: 3vw;
  }
  
  .nav-user-actions {
    align-items: center;
    width: 15%;
    
    
  }
  .nav-home-title {
    font-size: 1.5vw;
    margin-left: 2vw;
  }
  .nav-title {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin: auto;
    font-family: "raleway";
    font-size: 4vw;
  }
  .nav-title-sub {
    visibility: visible;
    font-size: 2vw;
  }
 
  .nav-sign-in {
    cursor: pointer;
    font-size: 1.5vw;
    padding: 0px 5px;
  }
  .nav-sign-up {
    cursor: pointer;
    font-size: 1.5vw;
    padding: 0px 5px;
  }
}
.movieImage {
  position: absolute;
  right: 50px;
  top: 50px;
}
@media only screen and (max-width: 600px) {
  .threeQuartersPageContainer {
    justify-content: start;
  }
  /* Force table to not be like tables anymore */
  .collapsible-tables table,
  .collapsible-tables thead,
  .collapsible-tables tbody,
  .collapsible-tables th,
  .collapsible-tables td,
  .collapsible-tables tr {
    display: block;
    border: 1;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .collapsible-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .collapsible-tables tr {
    border: 2px solid #ccc;
    margin-bottom: 8px;
  }

  .collapsible-tables td {
    /* Behave  like a "row" */
    height: 4rem;
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }

  .collapsible-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    /* top: 6px; */

    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  /*
	Label the data
	*/
  .collapsible-tables td:before {
    content: attr(data-title);
  }

  .MovList img {
    width: 100px;
  }
  .MovList #BoxStyle {
    width: 100px;
  }

  #BoxStyle h4 {
    font-size: small;
  }
}

th {
  width: 200px;
}
table {
  margin: 12px;
}
